* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* RESET */
body{
    background-image: url(../img/sfondo.jpg);
    background-size: cover;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 10px;
    color: white;
}

#options{
    margin-right: 10px;
}

button{
    padding: 10px;
    border-radius: 10px;
}


.grid{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    color: transparent;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 2px black;
}

.little-square{
    width: calc(100% / 7);
    height: calc(100% / 7);
    border: 1px solid black;
}

.medium-square{
    width: calc(100% / 9);
    height: calc(100% / 9);
    border: 1px solid black;
}

.active{
    background-color: lightblue;
}

.red{
    background-color: red;
    background-image: url(../img/kodama.png);
    background-size: contain;
}

.lose{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 600px;
    z-index: 3;
    background-color: rgba(255, 0, 0, 0.3);
    color: black;
    font-size: 40px;
    font-weight: bold;
}

